# Telegram
TELEGRAM_BOT_TOKEN=

# Gemini (LLM)
GEMINI_API_KEY=

# MySQL
MYSQL_HOST=
MYSQL_USUARIO=
MYSQL_SENHA=
MYSQL_DATABASE=

# Salt fixo usado para gerar o hash do RA (deve ser um valor secreto e aleatório)
RA_SALT=

# Salt fixo usado para gerar o hash do CPF (deve ser um valor secreto e aleatório)
CPF_SALT=
